$breakpoints: (
    phone: 480px,
    tablet: 768px,
    desktop: 1024px
);

$font: 'Montserrat Alternates', Verdana, sans-serif;

$font-nav: 'Fira Sans Extra Condensed', Verdana, sans-serif;

$font-title: 'Amatic SC', cursive;

$color-white: #eaeaea;

$color-grey: #333;

$color-yellow: #ffce00;

$color-green: #33ffcc;

$bg-white: #eaeaea;

$bg-grey: #333;

$bg-yellow: #ffce00;

$bg-green: #33ffcc;